<h1 class="Home-title">
    Welcome to the Counselling Session
</h1>


<h3 class="Home-authenticate"> New User,
    <%= link_to "sign-up here",new_student_path %>
</h3>

<h3 class="Home-authenticate"> Existing User,
    <%= link_to "sign-in here", new_sessions_path %>
</h3>
