<h1 class="Home-title">
    Welcome Admin
</h1>

<h3  class="Home-authenticate"> Register</h3>
    <%= link_to "Faculty",new_faculty_path,class:"Form-label" %>|
    <%= link_to "Student", new_student_path,class:"Form-label" %>


<h3  class="Home-authenticate"> View </h3>
    <%= link_to "Faculty",admin_facultyshow_path,class:"Form-label" %>|
    <%= link_to "Student", admin_studentshow_path,class:"Form-label" %>
