<h1 class="Home-title">
    Welcome Admin
</h1>

<h3  class="Home-authenticate"> Register
    <%= link_to "Faculty",new_faculty_path %>
</h3>

<h3  class="Home-authenticate"> Register
    <%= link_to "Student", new_student_path %>
</h3>
