.Home-title {
  font-size: 30px;
  margin-bottom: 30px;
  color: rgb(6, 54, 9);
}
.Home-authenticate {
  font-size: 16px;
  margin-bottom: 20px;
  color: blue;
}
.Roles {
  display: block;
  list-style: none;
}
.Role-item {
  margin-bottom: 5px;
}
